{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}
{% assign sidebar_name = author.name %}
{% assign sidebar_job = author.job %}
{% assign sidebar_bio = author.bio %}
{% assign sidebar_avatar = author.avatar %}

{% if site.site_id == 'personal' %}
  {% assign sidebar_name = 'Graham Mackie' %}
  {% assign sidebar_job = 'Builder, musician, and human' %}
  {% assign sidebar_bio = 'Based in Seattle. The ventures and tech stuff live elsewhere.' %}
  {% assign sidebar_avatar = nil %}
{% endif %}

<div class="cover-card table-cell table-middle">
  {% if site.site_id == 'personal' and site.personal_avatar_image %}
  <img src="{{ site.url }}{{ site.personal_avatar_image }}" alt="{{ sidebar_name }}" class="avatar">
  {% elsif sidebar_avatar %}
  <img src="{{ site.url }}/img/{{ sidebar_avatar }}" alt="" class="avatar">
  {% endif %}
  <a href="{{ site.url }}/" class="author_name">{{ sidebar_name }}</a>
  <span class="author_job">{{ sidebar_job }}</span>
  <span class="author_bio mbm">{{ sidebar_bio }}</span>
  <nav class="nav">
    <ul class="nav-list">
      {% if site.site_id == 'gmacko' or site.site_id == nil %}
      <li class="nav-item">
        <a href="{{ site.url }}/">home</a>
        <span>/</span>
      </li>
      <li class="nav-item">
        <a href="{{ site.url }}/ventures/">ventures</a>
        <span>/</span>
      </li>
      <li class="nav-item">
        <a href="{{ site.url }}/blog/">blog</a>
        <span>/</span>
      </li>
      <li class="nav-item">
        <a href="{{ site.url }}/resume/">resume</a>
      </li>
      {% elsif site.site_id == 'personal' %}
      <li class="nav-item">
        <a href="{{ site.url }}/">home</a>
        <span>/</span>
      </li>
      <li class="nav-item">
        <a href="{{ site.url }}/blog/">blog</a>
      </li>
      {% elsif site.site_id == 'gmac' %}
      <li class="nav-item">
        <a href="{{ site.url }}/">dashboard</a>
      </li>
      {% endif %}
    </ul>
  </nav>

  <div class="site-crosslinks">
    {% if site.site_id == 'gmacko' or site.site_id == nil %}
    <a href="https://grahammackie.com" class="crosslink">personal</a>
    <a href="https://gmac.io" class="crosslink">prototypes</a>
    {% elsif site.site_id == 'personal' %}
    <a href="https://gmacko.com" class="crosslink">ventures</a>
    <a href="https://gmac.io" class="crosslink">prototypes</a>
    {% elsif site.site_id == 'gmac' %}
    <a href="https://gmacko.com" class="crosslink">ventures</a>
    <a href="https://grahammackie.com" class="crosslink">personal</a>
    {% endif %}
  </div>

  {% include social-links.html %}
</div>
