/* Buttons
   ========================================================================== */

// General
.btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 20px;
  font-size: 0.875em;
  font-family: var(--font-body);
  font-weight: 700;
  background-color: var(--accent);
  color: var(--white);
  border-width: 2px !important;
  border-style: solid !important;
  border-color: var(--accent);
  text-decoration: none !important;
  border-radius: 5px;
  &:visited {
    color: var(--white);
    border-color: var(--accent);
  }
  &:hover {
    background-color: var(--white);
    color: var(--accent);
    border-color: var(--accent);
  }
}

// Success button
.btn-success {
  background-color: $success;
  color: var(--white);
  border-color: $success;
  &:visited {
    color: var(--white);
    border-color: $success;
  }
  &:hover {
    background-color: var(--white);
    color: $success;
    border-color: $success;
  }
}

// Warning button
.btn-warning {
  background-color: $warning;
  color: var(--white);
  border-color: $warning;
  &:visited {
    color: var(--white);
    border-color: $warning;
  }
  &:hover {
    background-color: var(--white);
    color: $warning;
    border-color: $warning;
  }
}

// Danger button
.btn-danger {
  background-color: $danger;
  color: var(--white);
  border-color: $danger;
  &:visited {
    color: var(--white);
    border-color: $danger;
  }
  &:hover {
    background-color: var(--white);
    color: $danger;
    border-color: $danger;
  }
}

// Information button
.btn-info {
  background-color: $info;
  color: var(--white);
  border-color: $info;
  &:visited {
    border-color: $info;
    color: var(--white);
  }
  &:hover {
    background-color: var(--white);
    color: $info;
    border-color: $info;
  }
}
